:root{
  --page-bg-color:#e2f5ff;
  --key-bg-color: #126b82;
  --cal-bg-color: #2a415f;
  --display-bg-color: #142a46;
  --num-color: #fff;
  --operator-bg: #15aad8;
  --equal-btn-bg: #f46d48;
  --live-display-color: #d1d1d1;
}

body{
  background-color: var(--page-bg-color);
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  font-family: arial,sans-serif;
}
h1{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--display-bg-color);
}
.container{
  margin: 1.8rem auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--cal-bg-color);
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.display-value{
  width: 90%;
  height: 100px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--display-bg-color);
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: right;
  align-items: flex-end;
  box-shadow: inset -1px -1px 6px rgba(20, 20, 20, 0.24);
}
.live-display{
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--live-display-color);
}
.solution{
  font-size: 26px;
  color: var(--num-color);
  margin-top: 5px;
}
.extra-operators input{
  width: 45px;
  height: 45px;
  background-color: var(--cal-bg-color);
  border: none;
  color: var(--num-color);
}
.row{
  display: flex;
  gap: 10px;
}
.row input{
  width: 60px;
  height: 60px;
  margin-top: 10px;
  background: var(--key-bg-color);
  color: var(--num-color);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.388);
}
.row input:active{
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.row input:nth-child(4){
  background-color: var(--operator-bg);
}
.row:nth-child(6) input:nth-child(3){
  width: 130px;
  background-color: var(--equal-btn-bg);
}
